
.content{
    width: 70%;
    float: left;
    margin-left: 22.5%;
    color: #8892b0;

}

.header{
    width: 100%;
    position: fixed;
}

.language{
    margin-top: 0.5%;
    background-color: #0a192f;
    border: none;
    margin-left: 95%;
}

.navbar {
    width: 15%;
    float: left;
    background-color: #0a192f;
    font-size: 18px;
    position: fixed;
}

ul{
    text-decoration: none;
    list-style-type: none;
    color: #8892b0;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 15px 20px;
    margin-left: 0;
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-align: left;
    width: auto;
    display: table;
}

li{
    background-color: #0a192f;
    color: #8892b0;
    margin: 0;
    padding: 0;
    margin-left: 0;
    font-weight: bold;
    text-align: left;
    width: 100%;
}

ul li a:hover{
    background-color: #222f43;
    color: #fff;
}

.active{
    background-color: #3a4658;
    border-left: 1px solid white;
    color: #fff;
}

.activeLogo{
    color: #fff;
}

.active a{
    background-color: black;
    color: #fff;
}

a{
    text-decoration: none;
    background-color: #0a192f;
    color: #8892b0;
    margin-left: 0;
    padding: 10px 20px;
    font-weight: bold;
    display: table;
    width: 100%;
}

.logo{
    width: 100%;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #657b9c, rgba(0, 0, 0, 0));
}